@import '../SASS/reset';
@import '../SASS/variables';

.checkout-steps {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    
    .step {
      margin: 0 1rem;
      text-align: center;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f8f9fa;
  
      a {
        text-decoration: none;
        color: #ffffff;
      }
  
      &.active {
        background-color: $secondary;
        color: #fff;
      }
  
      &.disabled {
        cursor: not-allowed;
        color: #6c757d;
      }
    }
  }
  