@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,100;1,300&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #f2f2f2;
  color: #434343;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* Color Theme Swatches in RGBA */
/* CSS */
@keyframes flip-in-hor-top {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.product-card {
  width: 30rem;
  position: relative;
  box-shadow: 0 2px 7px #b9b9b9;
  margin: 1rem 2rem;
  height: 55rem;
  border-radius: 30px;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #005C53;
  color: #F2F2F2;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 0;
  z-index: 150;
}

.product-thumb {
  display: flex;
  justify-content: center;
  width: 30rem;
  align-items: center;
  height: 25rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}
.product-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.product-thumb img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.product-details {
  padding: 1rem;
  overflow: hidden;
  max-height: 20rem;
}
.product-details h4 a {
  color: #005C53;
  display: block;
  font-weight: 500;
  margin-bottom: 1.8rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoutez cette ligne pour les trois petits points */
  white-space: nowrap; /* Ajoutez cette ligne pour empêcher le texte de se replier à la ligne */
}
.product-details h4 a:hover {
  color: #DBF227;
}
.product-details p {
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limite à 3 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoutez cette ligne pour les trois petits points */
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #e6e6e6;
  padding: 0.5rem 0.3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
}
.product-links button, .product-links a {
  height: 3rem;
  width: 3rem;
  background-color: #005C53;
  margin: 0 1rem 1rem 0;
  text-align: center;
  line-height: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.product-links button svg, .product-links a svg {
  font-size: 1.6rem;
}
.product-links button:hover, .product-links a:hover {
  background-color: #DBF227;
  transition: all 0.5s ease-in-out;
}

.out-of-stock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(9, 9, 9, 0.752);
  color: #bf3636;
  font-weight: bolder;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 0;
  text-align: center;
  padding-top: 80%;
  z-index: 1000;
  border-radius: 20px;
}

.product-price {
  font-size: 1.8rem;
  position: relative;
  color: #005C53;
  font-weight: 700;
  margin-bottom: 1.8rem;
  margin-right: 0.5rem;
}
.product-price small {
  font-size: 60%;
  bottom: 1rem;
  position: absolute;
  color: #99adb9;
}

.product-category {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #005C53;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

.header-search {
  background-color: #DBF227;
  height: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.header-search form input {
  border-radius: 20px;
  width: 300px;
  height: 2rem;
  padding: 2rem;
  border: #b9b9b9;
}
.header-search .search-bar {
  width: 50%;
}

.category-filter select {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #005C53;
  font-size: 1.5rem;
  cursor: pointer;
}
.category-filter select:focus {
  outline: none;
  border: 3px solid #005C53;
}

@media screen and (max-width: 40.5rem) {
  .header-search {
    flex-direction: column;
    height: 15rem;
    width: 100%;
  }
  .header-search form {
    width: 100%;
  }
  .header-search .search-bar {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  .header-search .search-bar input {
    width: 100%;
  }
  .category-filter {
    margin-top: 2rem;
    width: 98%;
  }
}/*# sourceMappingURL=productCard.css.map */