@import "../../SASS/reset.scss";
@import "../../SASS/variables.scss";
@import "../../SASS/mixins.scss";
@import "../../SASS/animations.scss";

.card-container {
    // min-height: 100vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.category-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    select {
    
      padding: 1rem;
      border: none;
      border-radius: 5px;
      width: 32rem;
  
      background-color: white;
      color: $primary;
      font-size: 1.5rem;
      cursor: pointer;
      &:focus {
        outline: none;
        border: 3px solid $primary;
      }
    }
  }